.wrapper-small {
    width: 94%;
    margin: 4.06rem 3% .62rem 3%;
}

.wrapper-small2 {
    width: 96%;
    margin: .06rem 2%;
    padding: 0.12rem 0;
}

.error, .success, .original {
    width: 88%;
    margin: 0 3% .37rem 3%;
    padding: .31rem 3%;
}

/*--search on page search.php--*/

.search-form {
    width: 94%;
    margin: .68rem 3% 1.12rem 3%;
}

.profile-member-info li span {
    font-size: .81rem;
}

/*--Upload picture photo form--*/

.upload-pic-form,
.delete-pic-form {
    width: 97%;
    height: 2.18rem;
}

.upload-pic-form input {
    line-height: 1.81rem;
    font-size: .75rem;
}

.upload-pic-form button {
    width: 24%;
    height: 2.18rem;
    font-size: .81rem;
}

.delete-pic-form button {
    width: 24%;
    height: 2.06rem;
    margin-left: 74%;
    font-size: .81rem;
}

.profile-buttons a,
.profile-buttons button {
    font-size: 0.87rem;
    padding: 0 .25rem;
}

.settings-general {
    width: 96%;
    margin: .31rem 2%;
    padding: 0;
}

/*-- chat --*/

.wrapper-chat {
    width: 92%;
    padding: 0 4% 1.25rem 4%;
    margin: 3.43rem 0 0 0;
}

.chat-form textarea {
    width: 96%;
    padding: .62rem 2%;
}

#button-load-chat {
    width: 50%;
    left: 25%;
}

/*--notifications--*/

#notif_upload_img {
    height: 2.12rem;
    font-size: .62rem;
}

/*--login system--*/

.buttons-section a {
    font-size: 0.87rem;
}

.buttons-section button {
    padding: 0.12rem .18rem;
    font-size: 0.87rem;
}

.close > p {
    font-size: 1.87rem;
    margin-top: -.37rem;
}

.close-hover {
    font-size: 1rem;
    padding: .18rem;
}

.form input {
    width: 90%;
    height: 1.87rem;
    line-height: 1.81rem;
    margin: .37rem 3% 0 3%;
    display: list-item;
    padding: 0 2%;
    font-size: 0.87rem;
}

.country-form {
    width: 95%;
    margin: 0 3%;
    font-size: 0.87rem;
}

.gender-form {
    width: 95%;
    margin: .18rem 3%;
    font-size: .81rem;
}

.form textarea {
    height: 7.5rem;
    width: 90%;
    margin: .37rem 3% 0 3%;
    display: list-item;
    padding: .31rem 2%;
    font-size: 0.87rem;
}

/*--admin page--*/

.admin-table {
    font-size: .68rem;
}

.admin-table, th, td {
    padding: .25rem .06rem;
}

/*--news events--*/

.news {
    width: 100%;
    margin-top: 1rem;
}

.news > h2 {
    margin: .5rem auto -.43rem auto;
}

.event {
    width: 96%;
    margin: 0 2%;
    border-bottom: .06rem solid gray;
}

/*--pods and stories--*/

.date {
    font-size: .68rem;
}

.stories {
    width: 96%;
    height: auto;
    max-width: 27.06rem;
    float: none;
    margin: 0 2% .75rem 2%;
}

.img-title,
.stories-img,
.wrapper-stories img {
    max-width: 94%;
    margin: 0.12rem 2% .62rem 2%;
}

.stories-img {
    max-width: 100%;
    margin: 0.12rem 0 .62rem 0;
}

.wrapper-stories,
.wrapper-info {
    width: 96%;
    margin: 1rem 2%;
}

.wrapper-stories h6,
.wrapper-info h6 {
    line-height: 1rem;
    font-size: 1.12rem;
}

.wrapper-stories ul li,
.wrapper-info ul li {
    font-size: 0.87rem;
    margin: .62rem 0 0.87rem 1.25rem;
}

.wrapper-stories ol li,
.wrapper-info ol li {
    font-size: 0.87rem;
}

/*--information--*/

.info-wrapper {
    width: 94%;
    margin: .62rem 3%;
}

/*--Error page--*/

.wrapper-big > img {
    width: 50%;
    margin: .62rem 25%;
}

/*--footer--*/

.footer-col > li > a,
.footer-col-last > li > a {
    font-size: 0.87rem;
    line-height: 1.5rem;
}

.footer h3 {
    font-size: 1rem;
}

.nav-footer {
    width: 98%;
    margin: 0.12rem 1% .25rem 1%;
}

.footer-col-first {
    width: 97%;
    margin: .31rem 0% .31rem 3%;
    text-align: center;
}

.footer-col-first > img {
    width: 32%;
}

.footer-col-first > div {
    width: 61%;
    margin-right: 5%;
}

.footer-col-first > div span {
    font-size: 0.87rem;
}

.footer-col {
    width: 48%;
    margin: .31rem 1%;
    text-align: center;
}

.footer-col-last {
    width: 96%;
    margin: .68rem 2%;
    text-align: center;
}