.wrapper-small {
    width: 94%;
    margin: 65px 3% 10px 3%;
}

.wrapper-small2 {
    width: 96%;
    margin: 1px 2%;
    padding: 2px 0;
}

.error,
.success,
.original {
    width: 88%;
    margin: 0 3% 6px 3%;
    padding: 5px 3%;
}

/*--search on page search.php--*/

.search-form {
    width: 94%;
    margin: 11px 3% 18px 3%;
}

.profile-member-info li span {
    font-size: 13px;
}

/*--Upload picture photo form--*/

.upload-pic-form,
.delete-pic-form {
    width: 97%;
    height: 35px;
}

.upload-pic-form input {
    line-height: 29px;
    font-size: 12px;
}

.upload-pic-form button {
    width: 24%;
    height: 35px;
    font-size: 13px;
}

.delete-pic-form button {
    width: 24%;
    height: 33px;
    margin-left: 74%;
    font-size: 13px;
}

.profile-buttons a,
.profile-buttons button {
    font-size: 14px;
    padding: 0 4px;
}

.settings-general {
    width: 96%;
    margin: 5px 2%;
    padding: 0;
}

/*-- chat --*/

.wrapper-chat {
    width: 92%;
    padding: 0 4% 20px 4%;
    margin: 55px 0 0 0;
}

.chat-form textarea {
    width: 96%;
    padding: 10px 2%;
}

#button-load-chat {
    width: 50%;
    left: 25%;
}

/*--notifications--*/

#notif_upload_img {
    height: 34px;
    font-size: 10px;
}

/*--login system--*/

.buttons-section a {
    font-size: 14px;
}

.buttons-section button {
    padding: 2px 3px;
    font-size: 14px;
}

.close>p {
    font-size: 30px;
    margin-top: -6px;
}

.close-hover {
    font-size: 15px;
    padding: 3px;
}

.form input {
    width: 90%;
    height: 30px;
    line-height: 29px;
    margin: 6px 3% 0 3%;
    display: list-item;
    padding: 0 2%;
    font-size: 14px;
}

.country-form {
    width: 95%;
    margin: 0 3%;
    font-size: 14px;
}

.gender-form {
    width: 95%;
    margin: 3px 3%;
    font-size: 13px;
}

.form textarea {
    height: 120px;
    width: 90%;
    margin: 6px 3% 0 3%;
    display: list-item;
    padding: 5px 2%;
    font-size: 14px;
}

/*--admin page--*/

.admin-table {
    font-size: 11px;
}

.admin-table,
th,
td {
    padding: 4px 1px;
}

/*--news events--*/

.news {
    width: 100%;
    margin-top: 16px;
}

.news>h2 {
    margin: 8px auto -7px auto;
}

.event {
    width: 96%;
    margin: 0 2%;
    border-bottom: 1px solid gray;
}

/*--pods and stories--*/

.date {
    font-size: 11px;
}

.stories {
    width: 96%;
    height: auto;
    max-width: 433px;
    float: none;
    margin: 0 2% 12px 2%;
}

.img-title,
.stories-img,
.wrapper-stories img {
    max-width: 94%;
    margin: 2px 2% 10px 2%;
}

.stories-img {
    max-width: 100%;
    margin: 2px 0 10px 0;
}

.wrapper-stories,
.wrapper-info {
    width: 96%;
    margin: 17px 2%;
}

.wrapper-stories h6,
.wrapper-info h6 {
    line-height: 15px;
    font-size: 18px;
}

.wrapper-stories ul li,
.wrapper-info ul li {
    font-size: 14px;
    margin: 10px 0 14px 20px;
}

.wrapper-stories ol li,
.wrapper-info ol li {
    font-size: 14px;
}

/*--information--*/

.info-wrapper {
    width: 94%;
    margin: 10px 3%;
}

/*--Error page--*/

.wrapper-big>img {
    width: 50%;
    margin: 10px 25%;
}

/*--footer--*/

.footer-col>li>a,
.footer-col-last>li>a {
    font-size: 14px;
    line-height: 24px;
}

.footer h3 {
    font-size: 16px;
}

.nav-footer {
    width: 98%;
    margin: 2px 1% 4px 1%;
}

.footer-col-first {
    width: 97%;
    margin: 5px 0% 5px 3%;
    text-align: center;
}

.footer-col-first>img {
    width: 32%;
}

.footer-col-first>div {
    width: 61%;
    margin-right: 5%;
}

.footer-col-first>div span {
    font-size: 14px;
}

.footer-col {
    width: 48%;
    margin: 5px 1%;
    text-align: center;
}

.footer-col-last {
    width: 96%;
    margin: 11px 2%;
    text-align: center;
}