@font-face {
    font-family: comfortaa;
    src: url(../fonts/comfortaa-light.ttf);
}

:root {
    --blue: #4285f4;
    --red: #a52a2a;
    --green: #006147;
    --gray: #505050;
    --lightGray: #d1d1d1;
    --darkGray: #2e2e2e;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(0, 0, 0);
    }
    20%, 80% {
        transform: translate3d(0, .12rem, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(0, -.06rem, 0);
        font-size: 110%;
    }
    40%, 60% {
        transform: translate3d(0, .18rem, 0);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button, input, select, textarea {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 100%;
    margin: 0;
}

button {
    cursor: pointer;
}

body {
    background-image: url("../img/bg.gif?v=1");
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--red);
}

p {
    font-size: 0.87rem;
    line-height: 1.12rem;
    color: #353535;
    margin: 0.2rem;
}

hr {
    width: 96%;
    margin: .6rem 2%;
    opacity: 0.5;
    color: #e8e8e8;
}

.hid {
    display: none;
}

/* -- Wrappers -- */

.wrapper {
    width: 99%;
    min-height: 30rem;
    margin: 3.187rem 0.5% 0 0.5%;
    padding: .1rem 0 .7rem 0;
    overflow: hidden;
    background: #eee;
    border-radius: 0 0 .3rem .3rem;
    box-shadow: 0 .06rem .31rem .12rem var(--darkGray);
}

.wrapper-small {
    width: 25rem;
    min-height: 12.5rem;
    max-width: 28.1rem;
    margin: 4.06rem auto 0 auto;
    padding: .5rem 0 1rem 0;
    background: #eee;
    border-radius: .3rem;
    box-shadow: 0 .06rem .31rem .25rem var(--darkGray);
}

.wrapper-small2 {
    width: 40%;
    margin: .06rem 28%;
    padding: .12rem 2%;
}

.wrapper-big {
    width: 100%;
    padding: 4.68rem 0 .56rem 0;
}

/* -- Error page -- */

.wrapper-big > img {
    width: 10%;
    margin: .62rem 45%;
}

.wrapper-big > h2,
.wrapper-big > h3,
.wrapper-big > h5 {
    color: #eee;
}

.error, .success, .original {
    width: 90%;
    margin-bottom: .31rem;
    padding: .4rem 4%;
    margin: 0 1%;
    display: block;
    color: #eee;
    border-radius: 0 0 .43rem .43rem;
    font-size: 0.9rem;
}

.error {
    background: var(--red);
}

.original {
    color: #444444;
}

.success {
    background: #007a59;
}

#button,
#button-load-stories,
#button-load-pods {
    margin-top: 2.25rem;
}

/* -- Main button for many things -- */

.button {
    width: 10.6rem;
    height: 1.9rem;
    margin: .62rem auto;
    padding: 0 .25rem;
    text-align: center;
    display: block;
    line-height: 1.9rem;
    position: relative;
    background: var(--blue);
    color: #eee;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .18rem;
    cursor: pointer;
    transition: 300ms ease all;
}

.button:hover,
.chat-form button:hover {
    background: #eee;
    color: var(--blue);
    font-weight: bold;
}

.button:before,
.button:after,
.chat-form button:before,
.chat-form button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: .12rem;
    width: 0;
    background: var(--blue);
    transition: 400ms ease all;
}

.button:after,
.chat-form button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.button:hover:before,
.button:hover:after,
.chat-form button:hover:before,
.chat-form button:hover:after {
    width: 100%;
    transition: 1s ease all;
}

/* -- Icons -- */

.fa-arrow-circle-right {
    color: var(--red);
}

.fa-spinner {
    font-size: 1rem !important;
}

.fa-envelope,
.fa-bell {
    position: relative;
}

.fa-envelope[data-badge]:after,
.fa-bell[data-badge]:after {
    content: attr(data-badge);
    top: -.25rem;
    right: -.5rem;
    position: absolute;
    font-size: .62rem;
    background: var(--red);
    color: #eee;
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 50%;
    border: solid .06rem #eee;
}

.page-icons {
    display: flex;
    justify-content: center;
}

.page-icons .far,
.page-icons .fas {
    cursor: pointer;
    margin: 0.05rem 0.2rem;
}

/* -- Navigation menu -- */

#nav-menu {
    background-image: url("../img/bg-nav.gif?v=1");
    position: absolute;
    width: 100%;
    height: auto;
    border-bottom: solid .15rem #eee;
    z-index: 2500;
    top: 0;
    opacity: 0.96;
    box-shadow: 0 .06rem .31rem .12rem var(--darkGray);
    -webkit-box-shadow: 0 .06rem .31rem .12rem var(--darkGray);
    -moz-box-shadow: 0 .06rem .31rem .12rem var(--darkGray);
}

.logo-section {
    float: left;
    width: 10.31rem;
}

#hide-search-box {
    display: none!important;
}

#logo {
    background-image: url("../img/WholeLogoRed.png?v=1");
    background-size: 9.37rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    margin-top: .31rem;
}

.hb-button {
    font-size: 1.43rem;
    display: inline;
    color: #eee;
    cursor: pointer;
}

.hb-button-left {
    display: none;
}

.hb-button-right {
    float: right;
    padding: .81rem 1.9rem .75rem 1.18rem;
}


#nav-menu > ul {
    overflow: hidden;
    color: #eee;
    text-align: left;
    margin-left: 0;
    transition: max-height 300ms;
    -webkit-transition: max-height 300ms;
    -moz-transition: max-height 300ms;
    -ms-transition: max-height 300ms;
    -o-transition: max-height 300ms;
}

#nav-menu > ul > li {
    display: inline-block;
}

#nav-menu > ul > li > a,
.logged-in-button {
    width: 100%;
    height: 3.1rem;
    display: block;
    text-align: center;
    line-height: 3.5rem;
    position: relative;
    color: #eee;
    text-decoration: none;
    font-weight: 100;
    font-size: 0.87rem;
    letter-spacing: .12rem;
    text-shadow: .06rem .06rem .06rem var(--darkGray);
    margin: 0 .5rem;
    background: none;
    border: none;
    text-transform: uppercase;
    font-family: 'comfortaa', Arial, sans-serif;
    cursor: pointer;
}

#nav-menu > ul > li > a:hover,
.logged-in-button:hover {
    background: var(--red);
}

.dragon-log-in {
    text-align: center;
    opacity: 0.7;
    margin-top: .62rem;
}

/* -- Search on page search.php -- */

.search-form > input {
    width: 17.5rem;
    height: 1.9rem;
    padding: 0.43rem;
    border: solid .06rem var(--gray);
    border-radius: .18rem;
    font-size: 1rem;
    color: var(--gray);
    margin: 1.25rem auto .5rem auto;
    display: block;
}

/* -- Profile and profile menu line -- */

.profile-menu-line {
    width: 98%;
    height: 2.56rem;
    padding: 0 1%;
    text-align: center;
    border-bottom: solid .06rem var(--lightGray);
}

.profile-menu-line ul {
    list-style: none;
}

.profile-menu-line a {
    width: 20%;
    height: 2rem;
    float: left;
    color: var(--gray);
    font-size: 1.31rem;
    border: none;
    padding-top: .56rem;
    margin: 0 auto;
}

.profile-menu-line a:hover {
    opacity: 0.85;
}

.name {
    color: var(--gray);
    cursor: default;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1rem .43rem 0 0;
    float: left;
    line-height: 1.18rem;
}

.header-profile {
    height: 6.56rem;
    margin-top: 1rem;
}

.member-pic {
    width: 5.81rem;
    height: auto;
    border-radius: .18rem;
    margin: 0 .68rem;
    float: left;
}

.center {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.activity-icon {
    width: .56rem;
    height: .56rem;
    background: var(--gray);
    margin-left: .31rem;
    display: inline-block;
    border-radius: 50%;
}

.active {
    background: #6ebd5a;
}

/* -- Upload picture photo form -- */

.upload-pic-form,
.delete-pic-form {
    text-align: center;
    width: 100%;
    height: 1.68rem;
    padding: .43rem .12rem;
    margin: .62rem 0 0 0;
    border: solid .06rem var(--lightGray);
    border-radius: .12rem;
}

.upload-pic-form {
    margin-top: 5.62rem;
}

.delete-pic-form {
    border: none!important;
}

.upload-pic-form input {
    width: 70%;
    font-size: 1rem;
    background: none;
}

.upload-pic-form button {
    width: 28%;
    padding: .18rem 0;
    background-image: url("../img/bg-button.gif?v=1");
    border: outset .12rem var(--gray);
    border-radius: .31rem;
    font-size: 0.87rem;
}

.delete-pic-form button {
    width: 28%;
    padding: .18rem 0;
    margin-left: 72%;
    background-image: url("../img/bg-button.gif?v=1");
    border: outset .12rem var(--gray);
    border-radius: .31rem;
    font-size: 0.87rem;
}

/* -- Member information -- */

.profile-member-info {
    list-style: none;
    padding: 0 .43rem;
}

.profile-member-info li {
    height: 1.25rem;
    border-bottom: solid .06rem var(--lightGray);
    color: var(--gray);
}

.about {
    padding: .37rem;
    color: var(--gray);
    font-size: 1.18rem;
    word-wrap: break-word;
}

/* -- Message and add friend buttons -- */

.message-wrapper a,
.message-wrapper > span,
.message-wrapper > label {
    display: inline-block;
    width: 38%;
    height: .81rem;
    margin: .62rem 0;
    padding: .37rem 0 .37rem 0.5%;
    font-size: .81rem;
    text-align: center;
    border: .06rem solid var(--lightGray);
    border-radius: .62rem;
    background: var(--gray);
    color: #eee;
    cursor: pointer;
}

.message-wrapper button {
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    color: #eee;
}

#status_friendship {
    display: block;
    text-align: center;
    margin: .62rem auto;
}

.message-wrapper > input {
    display: none;
}

.more_block {
    width: 92%;
    margin: 1.43rem 4% 0 4%!important;
    transition: .3s;
}

/* -- Tabs -- */

.tab {
    text-align: center;
    border-bottom: .06rem solid var(--lightGray);
    border-top: .06rem solid var(--lightGray);
}

.tablinks {
    display: inline-block;
    width: 32%;
    height: 1.68rem;
    text-align: center;
    color: var(--gray);
    font-size: .75rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s linear 0s;
    background: none;
    border: none;
}

.tablinks:hover {
    color: var(--darkGray);
}

.tablinks.active {
    background: var(--gray);
    color: #eee;
}

.tabcontent {
    display: none;
    padding: .18rem;
}

/* -- Conversations -- */

.conversations,
.conversations_unread {
    width: 98%;
    min-height: 4.37rem;
    font-size: 0.87rem;
    border-bottom: .06rem solid var(--lightGray);
    padding: .12rem 1%;
}

.conversations_unread {
    background: #eee;
    border-radius: .18rem;
}

#conversations_from {
    margin: 0 2.5rem 0 4.37rem;
    padding-top: .12rem;
    font-size: 0.87rem;
    font-weight: 400;
}

.conversations_content {
    font-size: .81rem;
    margin: 0 .37rem 0 4.37rem;
    color: var(--gray);
}

#conversations_date {
    width: 87%;
    text-align: left;
    margin: .37rem 0 .06rem 4.37rem;
    font-size: .68rem;
    color: var(--gray);
}

.member_pic_other {
    width: 3.56rem;
    border-radius: .12rem;
    margin: .62rem .62rem 0 .18rem;
    float: left;
}

.unreaded_message_num {
    min-width: 1.9rem;
    height: 1.25rem;
    position: absolute;
    right: 15%;
    margin-top: -2.18rem;
    font-size: 1rem;
    padding: .12rem;
    color: var(--gray);
    text-align: center;
    line-height: 1.31rem;
    border-radius: .12rem;
    animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 10002.81rem;
}

/* -- Delete conversations -- */

.delete_conversations {
    text-align: right;
    margin-top: 0;
}

.delete_conversations button,
.delete_conversations label {
    position: absolute;
    padding: .06rem .37rem;
    margin: -2rem 0 0 -1.56rem;
    font-size: 1.12rem;
    color: var(--gray);
    background: none;
    border: none;
}

.delete_conversations button:hover,
.delete_conversations label:hover {
    color: var(--darkGray);
}

/* -- Chat messages -- */

.wrapper-chat {
    width: 50%;
    margin: 3.5rem 25%;
    background: #ced3fff1 linear-gradient(to bottom, #cfcfcff1, #d3d7fff1);
    border-radius: 0 0 .31rem .31rem;
    box-shadow: 0 .06rem .31rem .12rem var(--darkGray);
}

.message-chat {
    margin-bottom: .75rem;
    border-radius: 1em;
    padding: .12rem .62rem .31rem .62rem;
    max-width: 75%;
    clear: both;
    position: relative;
}

.message-chat-his {
    float: left;
    background: #fff;
    margin-left: 1rem;
}

.message-chat-his::after {
    content: "";
    position: absolute;
    left: -0.5em;
    bottom: 0;
    width: 0.5em;
    height: 1em;
    border-right: 0.5em solid #fff;
    border-bottom-right-radius: 1em 0.5em;
}

.message-chat-my {
    float: right;
    background: #ecffda;
    color: #eee;
    margin-right: 1rem;
}

.message-chat-my::after {
    content: "";
    position: absolute;
    right: -0.5em;
    bottom: 0;
    width: 0.5em;
    height: 1em;
    border-left: 0.5em solid #ecffda;
    border-bottom-left-radius: 1em 0.5em;
}

.message-date-chat {
    font-size: .68rem;
    color: var(--gray);
}

#button-load-chat {
    width: 20%;
    position: absolute;
    top: 5.31rem;
    left: 43%;
}

#load_chat {
    margin-top: 2.81rem;
}

.chat-form textarea {
    width: 96%;
    height: 1.9rem;
    padding: .5rem 2% 1rem 2%;
    margin-top: 1.9rem;
    border: none;
    border-radius: 0 0 .4rem .4rem;
    background: #eee;
    font-size: 0.95rem;
    color: var(--gray);
    line-height: 1.12rem;
    resize: none;
    overflow: hidden;
    margin-bottom: -.5rem;
}

#submit-chat-form {
    display: none;
}

/* -- Notifications -- */

.notification {
    width: 92%;
    min-height: 5.62rem;
    font-size: 0.87rem;
    margin: 0 3% .62rem 3%;
    padding: .18rem 1%;
    background: #e6e6e6;
    border-radius: .06rem;
    box-shadow: .18rem .18rem .18rem 0 var(--gray);
    -webkit-box-shadow: .18rem .18rem .18rem 0 var(--gray);
    -moz-box-shadow: .18rem .18rem .18rem 0 var(--gray);
}

.close-notif {
    width: 11.9rem;
    font-size: 1rem;
    border: outset .06rem var(--gray);
    border-radius: .18rem;
    background: #eee;
    padding: .25rem .62rem;
    margin: 1rem auto .37rem auto;
    color: var(--darkGray);;
}

.close-notif:hover {
    border: inset .06rem var(--gray);
    background: #eee;
}

.chat-form button {
    width: 20%;
    float: right;
    height: 1.68rem;
    line-height: 1.68rem;
    margin-top: .37rem;
}

#notif_upload_img {
    height: 1.56rem;
}

.conversations > button {
    padding: .31rem .5rem;
    margin: .25rem .18rem .37rem 0;
    border-radius: .25rem;
    background: #eee;
}

#friend_req_first_button {
    background: var(--red);
    color: #eee;
}

#friend_req_first_button:hover {
    background: var(--red);
}

.conversations>button:hover {
    background: #eee;
}

/* -- Report -- */

.report_form {
    width: 13.12rem;
    margin: 0 auto 0 auto;
}

.report_form > p {
    margin-top: .56rem;
}

.report_form input {
    width: .81rem;
    height: .81rem;
}

.report_form > p > span {
    margin-left: .75rem;
    font-size: 1rem;
}

.report_form > button,
.report_form > a {
    width: 9.37rem;
    height: 1.68rem;
    border: solid .06rem var(--gray);
    border-radius: .12rem;
    margin-top: 1rem;
    font-size: 0.87rem;
    color: #000;
    padding: .25rem;
    background: #eee;
}

.report_form > button:hover,
.report_form > a:hover {
    background: #eee;
}

.reports {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.report {
    width: 10rem;
    min-height: 11.9rem;
    margin: .31rem;
    padding: .37rem;
    border-radius: .12rem;
    background: var(--darkGray);
}

.report > p {
    font-size: 0.87rem;
    margin: .43rem .12rem;
    padding: .31rem;
    border-bottom: solid .06rem var(--gray);
    border-top: solid .06rem var(--gray);
}

.report > span {
    color: var(--gray);
    font-size: .68rem;
}

/* -- Settings -- */

.settings-ul {
    margin: .62rem auto 2rem auto;
    list-style: none;
    text-align: center;
    border-top: solid .18rem #eee;
}

.settings-ul a,
.settings-ul button {
    width: 100%;
    display: block;
    padding: .43rem 0;
    border: none;
    border-bottom: solid .06rem var(--lightGray);
    color: var(--gray);
    background: none;
}

.settings-ul a:hover,
.settings-ul button:hover {
    background: var(--red);
    color: #eee;
    opacity: 0.75;
}

.settings-general {
    width: 37.5%;
    border: .06rem solid var(--lightGray);
    border-radius: .62rem;
    float: left;
    margin: .62rem 1%;
    padding: 0 5%;
}

/* -- Popup window -- */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/bg.gif?v=1");
    width: 100%;
    height: 1000px;
    opacity: 0.9;
    z-index: 2600;
}

.popup_window {
    display: none;
    position: fixed;
    top: 13%;
    left: 25%;
    background: #eee;
    width: 50%;
    height: auto;
    z-index: 3000;
    border-radius: .12rem;
    -webkit-box-shadow: 0 .12rem .31rem .12rem var(--darkGray);
    -moz-box-shadow: 0 .12rem .31rem .12rem var(--darkGray);
    box-shadow: 0 .12rem .31rem .25rem var(--darkGray);
}

.popup_window span {
    height: 1rem;
    margin: .25rem .56rem 0 .56rem;
}

.popup_close {
    font-size: 1.18rem;
    font-weight: bold;
    color: var(--gray);
    cursor: pointer;
    float: right;
}

.popup_close:hover {
    color: var(--red);
}

/* -- Form input select gender-- */

.form {
    width: 94%;
    margin: 0 3%;
    padding-top: .81rem;
}

.under-form {
    text-align: center;
    font-size: .8rem;
}

.form input {
    width: 94%;
    height: 1.25rem;
    padding: .31rem 3%;
    margin-top: .15rem;
    border: none;
    border-bottom: solid .06rem var(--lightGray);
    border-right: solid .06rem var(--lightGray);
    background: #fff;
    font-size: 1rem;
    color: #4d4d4d;
    line-height: 1.18rem;
    border-radius: .43rem
}

.country-form {
    width: 94%;
    max-width: 37.5rem;
    height: 2rem;
    padding: 0 2%;
    margin: 0 1% .15rem 1%;
    border: 0;
    background: #fff;
    border-radius: .43rem;
    color: var(--gray);
    font-size: 1rem;
    line-height: 2rem;
    border-bottom: solid .06rem var(--lightGray);
    border-right: solid .06rem var(--lightGray);
}

.gender-form {
    width: 94%;
    max-width: 37.5rem;
    height: 2rem;
    padding: 0 2%;
    margin: 0 1% .15rem 1%;
    border: 0;
    background: #fff;
    border-radius: .43rem;
    color: var(--darkGray);
    font-size: 1rem;
    line-height: 2rem;
    border-bottom: solid .06rem var(--lightGray);
    border-right: solid .06rem var(--lightGray);
}

.form textarea,
.report_form > textarea {
    height: 2.37rem;
    width: 97%;
    padding: .25rem 1.5%;
    margin: .15rem 0;
    border: 0;
    outline: 0;
    border-radius: .5rem;
    background: #fff;
    font-size: 1rem;
    color: #4d4d4d;
    line-height: 1.18rem;
    resize: none;
    overflow: hidden;
    border-bottom: solid .06rem var(--lightGray);
    border-right: solid .06rem var(--lightGray);
}

#check-box {
    width: 10.18rem;
    height: 1.31rem;
    margin: .62rem auto;
    padding: .12rem .25rem;
    text-align: center;
    display: block;
    position: relative;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color 0.3s linear;
    background: var(--green);
    line-height: 1.25rem;
    font-size: 0.87rem;
}

#check-box:hover {
    background: #004928;
}

.span-form {
    display: block;
    margin: .3rem auto .12rem .62rem;
    text-align: left;
    opacity: 0.7;
    font-size: 1rem;
}

/* -- Intro -- */

.intro {
    text-align: center;
    margin: .68rem auto .5rem auto;
    padding: 0 .5rem;
}

.intro h1, .intro h2, .intro h3 {
    font-weight: 600;
    color: var(--gray);
    font-family: 'comfortaa', Arial, sans-serif;
    margin: .31rem 0;
    font-size: 1.3rem;
}

.intro p {
    color: var(--gray);
    margin: .31rem 2%;
    font-size: 0.9rem;
    text-align: center;
}

/* --news-- */

.news {
    width: 50%;
    float: left;
    margin-top: .62rem;
}

.event {
    width: 92%;
    height: auto;
    margin: .62rem 4% .06rem 4%;
    padding-top: .5rem;
    overflow: hidden;
    text-align: center;
}

.event img {
    margin: .43rem 2%;
    width: 96%;
    border-radius: .25rem;
}

/* --Banner-- */

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.main-banner img {
    width: 100%;
    overflow: hidden;
    border-bottom: solid 0.2rem var(--darkGray);
    animation: fade-in 500ms;
}

.imgbanbtn {
    width: 2.8rem;
    height: 2.8rem;
    background: #000;
    border-radius: .25rem;
    position: absolute;
    top: 3.43rem;
    z-index: 2000;
    opacity: 0.5;
    cursor: pointer;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.main-banner:hover .imgbanbtn {
    display: block;
}

.imgbanbtn:hover {
    opacity: 0.8;
}

.imgbanbtn-prev {
    left: .31rem;
    background-image: url(../img/arrow-left.png?v=1);
}

.imgbanbtn-next {
    right: .31rem;
    background-image: url(../img/arrow-right.png?v=1);
}

/* -- Stories -- */

.wrapper-stories,
.wrapper-info {
    width: 94%;
    margin: .5rem 3%;
}

.approving-material {
    width: 13rem;
    margin: 3.8rem auto -3rem auto;
    padding: .2rem;
    background: #eee;
    border-radius: .31rem;
    box-shadow: 0 .06rem .31rem .12rem var(--darkGray);
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

.wrapper-stories li,
.wrapper-info li {
    margin-left: 3%;
}

.stories {
    width: 31%;
    height: 24.5rem;
    max-width: 25rem;
    float: left;
    margin: 0 0 1.12rem 1.8%;
    word-wrap: break-word;
}

.stories-img {
    max-width: 100%;
    height: auto;
    border-radius: .1rem;
    margin-bottom: .56rem;
}

.wrapper-stories img {
    max-width: 30%;
    height: auto;
    border-radius: .12rem;
    float: right;
    margin: .37rem .81rem .31rem .81rem!important;
}

.headline1 {
    text-align: center;
    margin: 0 auto .25rem auto;
    font-size: 1.12rem;
    color: #404040;
}

.headline2 {
    text-align: center;
    margin: 0 auto .37rem auto;
    font-size: .81rem;
    color: #404040;
}

/* -- For writers -- */

.add-material {
    position: fixed;
    top: 4.5rem;
    left: 2rem;
    font-size: 5rem;
    border: .12rem solid #eee;
    background: #eee;
    color: var(--green);
    border-radius: 100%;
    background-size: 45%;
    box-shadow: 0 .12rem .31rem .12rem var(--darkGray);
    cursor: pointer;
    transition: all 80ms linear;  
}

.add-material:hover {
    background: #fff;
    color: darkslategrey;
}

/* -- Favorites -- */

.favorites-pic {
    width: 4.06rem;
    border-radius: .12rem;
    margin-top: 1.18rem;
    float: left;
}

/* -- Podcast page -- */

.date {
    font-size: .75rem;
    color: var(--gray);
    text-decoration: none;
    margin: .25rem 0 .56rem 0;
    text-align: center;
}

.date > h4 {
    margin-top: .31rem;
}

.audio {
    margin: 1rem 20%;
    width: 60%;
    height: 2.81rem;
    padding-bottom: 3.37rem;
    overflow: hidden;
}

audio {
    width: 100%;
    height: 92%;
}

.floating-download-button {
    width: 100%;
    float: right;
}

/* -- Admins room -- */

.admin-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.87rem;
}

.admin-table, th, td {
    border: solid .06rem var(--gray);
    padding: .31rem .06rem;
}

.admin-table tr:nth-child(even):hover,
.admin-table tr:hover {
    background: var(--red);
    color: #eee;
}

.admin-table th {
    background: #d0dcef;
}

.link-to-user {
    color: #000;
    font-size: 0.87rem;
    border-radius: .25rem;
    padding: .12rem .25rem;
    background: #eee;
}

.link-to-user:hover {
    color: #eee;
    background: #000;
}

.admin-table tr:nth-child(even) {
    background: #eee;
}

/* -- Members table -- */

.header {
    width: 96%;
    margin: 0.87rem 2% 0 2%;
}

.header2 {
    width: 80%;
    margin: 0 8%;
    padding: 0 2%;
    border-right: solid .06rem var(--lightGray);
    border-left: solid .06rem var(--lightGray);
}

.wrapper-member-table {
    width: 50%;
    margin: 1rem 25%;
}

.members_table_info {
    margin: .62rem auto;
    list-style: none;
    padding: .62rem;
    border: solid .06rem var(--gray);
    border-radius: .18rem;
}

.members_table_info li {
    padding: .25rem;
    border-bottom: solid .06rem var(--gray);
}

/* -- Pagination -- */

.pagination {
    width: 100%;
    height: 1.9rem;
    margin: 1.25rem auto .68rem auto;
    text-align: center;
}

.pagination a,
.pagination h4 {
    min-width: 1.18rem;
    height: 1.9rem;
    line-height: 2rem;
    display: inline-block;
    text-align: center;
    border: .06rem solid var(--lightGray);
    border-radius: .06rem;
    font-size: .81rem;
    color: #282828;
}

.pagination a:hover,
.pagination h4:hover {
    background: var(--red);
    color: #eee;
}

.pagination h4 {
    background: var(--darkGray)!important;
    color: #eee!important;
}

.pagination i {
    font-size: .75rem;
}

.pagin {
    margin: .31rem auto;
    font-family: 'comfortaa', Arial, sans-serif;
    font-weight: bold;
}

/* -- Footer -- */

.hr-mobile {
    display: none;
    opacity: 0.9;
}

footer {
    width: 100%;
    background-image: url("../img/bg.gif?v=1");
    overflow: hidden;
    text-decoration: none;
}

footer h3 {
    color: #eee;
    font-size: 1rem;
    text-align: center;
    opacity: 0.9;
}

.nav-footer {
    width: 90%;
    margin: .62rem 5%;
    padding: .25rem 0;
    text-align: center;
}

.footer-col-first {
    width: 55%;
    float: left;
    margin: .06rem 0% .06rem 0%;
}

.footer-col-first > img {
    width: 16%;
    max-width: 6.25rem;
    float: left;
    box-shadow: none;
    border-radius: 100%;
    box-shadow: .06rem .06rem .37rem .12rem var(--darkGray);
    -webkit-box-shadow: .06rem .06rem .37rem .06rem var(--darkGray);
    -moz-box-shadow: .06rem .06rem .37rem .06rem var(--darkGray);
}

.footer-col-first > div {
    margin-right: 4%;
    width: 80%;
    float: left;
}

.footer-col-first > div span {
    margin: 0 1rem;
    color: #eee;
    opacity: 0.7;
    font-size: 1rem;
}

.footer-col {
    width: 13%;
    margin: .06rem 1% .06rem 0;
    float: left;
}

.footer-col > li,
.footer-col-last > li,
.hr-mobile {
    list-style-type: none;
}

.footer-col > li > a,
.footer-col-last > li > a {
    font-size: .75rem;
    color: #eee;
    opacity: 0.7;
}

.footer-col > li > a:hover,
.footer-col-last > li > a:hover {
    text-decoration: underline;
    color: #eee;
}

.footer-col-last {
    width: 13%;
    margin: .06rem 0;
    float: left;
}

.copyright {
    width: 100%;
    height: 1.25rem;
    overflow: hidden;
    padding: 1.9rem 0 .62rem 0;
}

.copyright > h4 {
    text-align: center;
    font-size: .62rem;
    line-height: 1.56rem;
    color: #eee;
    opacity: 0.7;
    font-weight: 100;
    letter-spacing: .06rem;
}